.margin-bottom{
    margin-bottom: 1.75em;
}

.margin-right{
    margin-right: 0.1em;
}

.margin-right-plus{
    margin-right: 0.5em;
}

/* .chip{
    display: flex;
    
} */

.smaller-icons{
    font-size: 50%;
}